<% include include/header %>
  <style>
    @media (max-width: 768px) {
      .movie-single .sticky-sb {
        max-width: 180px;
        position: absolute;
        top: 25px;
        right: 0px;
      }
    }

    @media (max-width: 425px) {
      .movie-single .sticky-sb {
        max-width: 160px;
        position: absolute;
        top: -175px;
        right: 104px;
      }
    }

    @media (max-width: 375px) {
      .movie-single .sticky-sb {
        max-width: 160px;
        position: absolute;
        top: -175px;
        right: 79px;
      }
    }
  </style>
  <div class="hero mv-single-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
  <div class="page-single movie-single movie_single">
    <div class="container">
      <div class="row ipad-width2">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="movie-img sticky-sb">
            <img src="<%= seriesDetails.image %>" alt="" />
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="movie-single-ct main-content">
            <h1 class="bd-hd">
              <%= seriesDetails.name %><br /><span>
                  <%= seriesDetails.started%>
                </span>
            </h1>
            <div class="social-btn">
              <a href="#" class="parent-btn" id="startwatching"><i class="ion-play"></i> Start Watching</a>
            </div>
            <div class="movie-tabs">
              <div class="tabs">
                <ul class="tab-links tabs-mv">
                  <li class="active"><a href="#overview">Overview</a></li>
                  <li><a href="#cast"> Episodes </a></li>
                  <li><a href="#details"> Details </a></li>
                </ul>
                <div class="tab-content">
                  <div id="overview" class="tab active">
                    <div class="row">
                      <div class="col-md-8 col-sm-12 col-xs-12">
                        <p>
                          <%= seriesDetails.details %>
                        </p>
                        <%= seriesDetails.detailHtml %>
                      </div>
                    </div>
                  </div>

                  <div id="cast" class="tab">
                    <div class="row">
                      <h2>Episode List</h2>
                      <!-- //== -->
                      <div class="title-hd-sm">
                        <h4>Latest Updates</h4>
                      </div>
                      <div class="mvcast-item">
                        <% var i=0; var lastep='' ;episodeList.forEach(function(item){ i++; lastep=item.href; %>
                          <div class="cast-it">
                            <div class="cast-left">
                              <a class="fetchVedio" href="<%= item.href %>">
                                <%= item.episode %>
                              </a>
                            </div>
                          </div>
                          <% if(i==5) { %>
                            <div class="title-hd-sm">
                              <h4>All Episodes</h4>
                            </div>
                            <% } %>
                              <% }) %>
                      </div>
                    </div>
                  </div>
                  <div id="details" class="tab">
                    <div class="row">
                      <div class="Mirai">
                        <div class="mvcast-item">
                          <% detailer.forEach(function(item){ %>
                            <div class="cast-it">
                              <div class="cast-left">
                                <a class="fetchVedio" href="#"><span style="color: #dcf836">
                                    <%= item.name %>
                                  </span><span style="color: #dd003f">
                                    <% var x=item.value.split(':'); %>
                                      <%= x['1']; %>
                                  </span></a>
                              </div>
                            </div>
                            <% }) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="javascripts/jquery.js"></script>
  <script>
    $("#startwatching").click(function (e) {
      e.preventDefault();
      location.href = "loadvideo?url=<%= lastep%>";
    });
  </script>
  <% include include/footer %>